.count_wrapper {
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;
  button {
    border: none;
    background: none;
  }
  .char {
    width: 20px;
    height: 20px;
  }
  .minus {
    width: 30px;
  }
}
