.header {
  width: 100%;
  .wrapper {
    position: relative;
    margin: 20px auto;
    max-width: 1280px;
    .nav {
      display: flex;
      justify-content: space-between;
      margin: 0 5px;
      align-items: center;
      .logo_wrapper {
        a {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 30px;
          font-family: "Pacifico", cursive;
          color: #361041;
          height: 70px;
        }
        .logo {
          height: 100%;
          margin-right: 2px;
        }
      }
      .list,
      .list_hiden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        list-style: none;
        .list_item {
          cursor: pointer;
          transition: opacity 500ms ease;
        }
        .list_item:hover {
          opacity: 0.5;
        }
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
      }
      .cart {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
        height: 45px;
        img {
          transition: transform 500ms ease;
        }
        img:hover {
          transform: scale(1.4) translateY(-5px);
        }
        .cart_score {
          position: absolute;
          left: 20px;
          top: 0;
          background-color: #ffbbbc;
          padding: 10px 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 0;
          font-size: 14px;
          border-radius: 50px;
          border: 2px solid white;
        }
      }

      .user {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .logout {
        border: none;
        background: none;
        text-decoration: underline;
      }
      .logout:hover {
        opacity: 0.5;
      }
      .user_name {
        font-size: 10px;
      }

      .user_icon {
        img {
          transition: transform 500ms ease;
          transition: all 500ms;
        }
        img:hover {
          transform: scale(1.4) translateY(-2px);
        }
      }
    }
  }
}
.burger {
  display: none;
}

@media (max-width: 900px) {
  .wrapper {
    position: relative;
  }
  .burger {
    display: block;
    width: 30px;
    border: none;
    background: none;
    img {
      height: 30px;
    }
  }
  .list {
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    padding: 30px 50px;
    background-color: white;
    font-weight: 600;
    border: 2px solid #ffbbbc;
    border-radius: 20px;
    z-index: 100;
  }
  .list_hiden {
    position: absolute;
    top: 60px;
    right: 0;
    visibility: hidden;
  }
}

@media (max-width: 550px) {
  .nav {
    margin: 0 10px;
  
  }
  .logo_wrapper {
    a {
      img.logo {
        width: 48px;
        height: 48px;
      }
      .span {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .cart {
    img {
      width: 25px;
    }
  }
  .user_icon {
    img {
      width: 25px;
    }
  }
}
