.wrapper {
  position: relative;
  width: 100%;
  input {
    font-size: 20px;
    max-width: 390px;
    border-radius: 50px;
    border: 1px solid #361041;
    padding: 15px 25px;
    color: #361041;
  }
  input::placeholder {
    font-size: 14px;
  }
}

.password_icon {
  position: absolute;
  right: 15px;
  top: 18px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  img {
    max-width: 100%;
  }
}

.auth_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .title {
    margin: 0;
    margin-bottom: 10px;
    color: #361041;
  }
  .input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .btn {
    font-size: 17px;
    padding: 10px 30px;
    background-color: #361041;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all 500ms;
  }
  .btn:hover {
    transform: scale(1.1);
  }
  .btn:disabled {
    opacity: 0.4;
  }
  .btn:disabled:hover {
    transform: scale(1);
  }
  .error {
    color: red;
    font-size: 20px;
  }
}
