#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_img1 {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 550px;
  background: url("/public/img/slide1.jpg") no-repeat;
  background-size: cover;
  background-position: center -100px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}
.slide_img2 {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 550px;
  background: url("/public/img/slide2.jpg") no-repeat;
  background-size: cover;
  background-position: center -100px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}
.slide_img3 {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 550px;
  background: url("/public/img/slide3.jpg") no-repeat;
  background-size: cover;
  background-position: center -100px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}
