@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,800;1,500&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Jost:ital,wght@0,400;0,500;0,800;1,500&family=Montserrat:wght@300;400;600&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

/* HEADER START */

/* СТИЛИ КОРЗИНЫ (ВНУТРИ) */

/* .shop-card {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 20px;
  padding-bottom: 0;
  width: 450px;
  background-color: #fafafa;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  z-index: 100;
}

header .shop-card .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-card .empty h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

header .shop-card .item img {
  float: left;
  margin-right: 25px;
  width: 70px;
}

header .shop-card .item h2 {
  font-size: 20px;
}
header .shop-card .item b {
  font-size: 18px;
  color: #797979;
}

header .shop-card .item .delete-icon {
  color: #797979;
  float: right;
  transition: transform 500ms ease;
}

header .shop-card .item .delete-icon:hover {
  transform: scale(1.4);
  color: #696969;
}

header .shop-card .sum {
  float: right;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
} */

/* ОБЯЗАТЕЛЬНО ЧТО-ТО С ЭТИМ СДЕЛАТЬ */
/* .presentation {
  position: relative;
  margin: 20px 0;
  width: 100%;
  max-width: 1280px;
  height: 550px;
  background: url("./img/presentation2.jpg") no-repeat;
  background-size: cover;
  background-position: center -100px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
} */


/* .presentation::after {
  position: absolute;
  right: 150px;
  top: 150px;
  content: "it's so delicious";
  font-weight: 600;
} */
/* presentation ends */

/* КАТЕГОРИИ */
/* .categories div {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 15px;
  padding: 10px 20px;
  background-color: #ffe8faa7;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: pink;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  position: relative;
  width: 600px;

  margin: 10% auto;
  padding: 40px 30px;
  background: white;
  border-radius: 10px;
}
.full-item > div > img {
  height: auto;
} */

/* categories ends */

/* какой-то фул */
/* main .item img,
.full-item img {
  height: 400px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover,
.full-item img:hover {
  transform: scale(1.05);
} */

/* main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
  margin: 20px 20px;
} */

/* main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: palevioletred;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-car:hover {
  transform: scale(1.4) translateY(-5px);
} */
