.add_to_cart {
  bottom: 20px;
  right: 20px;
  background: palevioletred;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}
.add_to_cart:hover {
  transform: scale(1.4) translateY(-5px);
}

.cart{
  width: 35px;
}